@font-face {
  font-family: myGoogleFont;
  src: url("./graphics/GoogleSans-Regular.ttf");
}

body {
  margin: 0;
  font-family: myGoogleFont !important;
  /* background: url("./graphics/pdf.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.9; */
}
